# Configuración del Servidor
PORT=3000

# Conexión a la Base de Datos MySQL
DB_HOST=localhost
DB_USER=nano
DB_PASSWORD=admin123
DB_NAME=taskAppDb
DB_PORT=3306

# Llave Secreta para los Tokens
JWT_SECRET=esto-es-secreto